:root {
    --white: #ffffff;
    --button_hover: #ececec;
    --button_hover_dark: #131313;
    --link_hover: #555555;
    --link_hover_dark: #aaaaaa;
    --black: #000000;
}

body {
    background-color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


a { font-size: large; color: var(--black); text-decoration: none; }
p { color: var(--black) }
button {
    width: calc(fit-content + 100px);
    height: 100%;
    background-color: var(--white);
    color: var(--black);
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vh;

    border: solid var(--black) 2px;
    border-radius: 1vh; }
button:hover { background-color: var(--button_hover) }
textarea {
    width: 100%;
    background-color: var(--white);
    font-size: 2vh;
    border: none;
    margin-bottom: 5vh;
    white-space: pre-line;

    border: solid var(--black) 2px;
    border-radius: .5vh; }
img { height: 5vh; aspect-ratio: 1 / 1; object-fit: fill }
input {
    background-color: var(--white);
    height: 3vh;
    font-size: 2vh;
    border: solid var(--black) 2px;
    border-radius: .5vh; }

.header {
    display: flex;
    height: 6vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: var(--white);
    border: solid var(--black) 2px;
    border-radius: 1vh; }
.header button {
    padding-left: 1vw;
    padding-right: 1vw;
    margin-right: .5vw;
    margin-left: .5vw; }
.headerrightside { margin-left: auto }
.header img { height: auto }
.header img:hover { width: 9vh }
.headernameholder { position: relative }
.headernameholder a { position: absolute; bottom: 0 }

.search input { width: 100% }
.search a:hover { color: var(--link_hover) }

.comment > .comment { margin-left: 5vh; margin-top: 2vh }
.comment button { margin-right: 1vh }

.logreg button { width: 100%; height: 5vh }
.logreg input { width: 100% }

.createedit input { width: 100%; margin-bottom: 1vh }
.createedit button { width: 100%; height: 5vh; margin-bottom: 1vh }

.articletext {
    background-color: var(--white);
    resize: none;
    field-sizing: content;
    max-width: 60vw;
    font-size: 2vh;
    outline: none }
.thebody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% }
.inthebodyholder {
    margin-top: 10vh;
    height: 100%;
    padding: 4vh;
    background-color: var(--white);
    border: solid var(--black) 2px;
    border-radius: 1vh }



@media (prefers-color-scheme: dark) {
    body { background-color: var(--black); }
    a { color: var(--white) }
    p { color: var(--white) }
    button { background-color: var(--black); color: var(--white); border: solid var(--white) 2px }
    button:hover { background-color: var(--button_hover_dark) }
    textarea { background-color: var(--black); border: solid var(--white) 2px; color: var(--white) }
    input { background-color: var(--black); border: solid var(--white) 2px; color: var(--white) }
    .header {background-color: var(--black); border: solid var(--white) 2px }
    .search a:hover { color: var(--link_hover_dark) }
    .articletext { background-color: var(--black) }
    .inthebodyholder { background-color: var(--black); border: solid var(--white) 2px }
}